<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <section class="section-bg d-flex justify-content-center align-items-center section-text-color" style="height: 100vh;">
        <div class="container">
            <div class="row d-flex justify-content-around">
                <div class="col-lg-5">
                    <h1>Bienvenue sur Ecole 241 Business</h1>
                    <p>Connectez-vous</p>
                </div>
                <div class="col-lg-5">
                    <form action="/" method="post">
                        <label for="email">Adresse email:</label><br>
                        <input type="email" id="email" name="email" required><br>
                        <label for="mot_de_passe">Mot de passe:</label><br>
                        <input type="tel" id="mot_de_passe" name="password" required><br>
                        <input type="submit" style="width: 150px;">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>